form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
} */

.logo {
  margin-top: 25px;
  /* padding-left: 100px; */
  font-family: "Ubuntu", sans-serif;
}
