.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: white !important;
}

/* main */
.main {
  height: 100%;
  min-height: 100%;
}

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 15%;
}

.sidebar_all {
  display: flex;
  flex-direction: row;
}

.sidebar-list-styling {
  padding-left: 50px;
  padding-top: 15px;
  min-width: 15%;
  background-color: #363136;
  color: white;
  min-height: 110%;
}

.sidebar-list a {
  color: white;
  font-weight: bold;
  padding: 0;
}

.sidebar-list a:hover {
  text-decoration: none;
  color: lightcoral;
}

.sidebar-route {
  flex: 1;
  margin-left: 50px;
  margin-top: 30px;
}
