body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  background-color: #1c5253 !important;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png") !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: white;
}

button {
  width: 100px !important;
  margin-bottom: 10px !important;
}

.searchBar {
  border-radius: 5px !important;
  border-style: none !important;
  width: 500px;
  height: 40px;
}
